---
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  link: string;
}
const { name, link } = Astro.props;
---

<a 
  href={link} 
  target="_blank" 
  rel="noopener noreferrer"
  class="flex h-10 w-10 items-center justify-center rounded-lg text-[var(--primary-color)] transition-all hover:brightness-75 dark:hover:brightness-125"
>
  <Icon name={name} size={24} />
</a>
